body {
  margin-top: 50px;
  background-color: #EEEEEE;
}

#wrapper {
  padding-left: 225px;
}

#page-wrapper {
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.huge {
  font-size: 50px;
  line-height: normal;
}

/* Top Navigation */
.navbar {
  background-color: #512D6D;
}

.navbar a:hover {
  color: #fff;
}

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #fff;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
  background-color: #52006A;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  min-width: 200px;
  border: 1px solid rgba(81, 45, 109, .2);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(81, 45, 109, .2);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

.side-nav {
  min-height: 100%;
  position: fixed;
  top: 51px;
  left: 225px;
  width: 225px;
  margin-left: -225px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #512D6D;
}

.side-nav>li>a {
  width: 225px;
}

.side-nav li a:hover, .side-nav li a:focus {
  outline: none;
  background-color: #00C1D4 !important;
}

.side-nav .active {
 outline: none;
 background-color: #F8485E !important;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}

/* Colored Panels */

.panel-red {
    border-color: #D9534F;
}

.panel-red .panel-heading {
    border-color: #D9534F;
    color: #fff;
    background-color: #D9534F;
}

.panel-red a {
    color: #D9534F;
}

.panel-red a:hover {
    color: #B52B27;
}

.panel-green {
    border-color: #5CB85C;
}

.panel-green .panel-heading {
    border-color: #5CB85C;
    color: #fff;
    background-color: #5CB85C;
}

.panel-green a {
    color: #5CB85C;
}

.panel-green a:hover {
    color: #3D8B3D;
}

.panel-blue {
    border-color: #337AB7;
}

.panel-blue .panel-heading {
    border-color: #337AB7;
    color: #fff;
    background-color: #337AB7;
}

.panel-blue a {
    color: #337AB7;
}

.panel-blue a:hover {
    color: #2D46B9;
}

.panel-yellow {
    border-color: #F0AD4E;
}

.panel-yellow .panel-heading {
    border-color: #F0AD4E;
    color: #fff;
    background-color: #F0AD4E;
}

.panel-yellow a {
    color: #F0AD4E;
}

.panel-yellow a:hover {
    color: #DF8A13;
}

.breadcrumb>li>a {
  color: #F8485E;
}

.breadcrumb>li>a:hover {
  color: #CD113B;
}
